# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [3]:
symbol = 'FB'
ticker = yf.Ticker(symbol)

### Show ticker info

In [4]:
pd.Series(ticker.info).head(20)

zip                                                                94025
sector                                            Communication Services
fullTimeEmployees                                                  63404
longBusinessSummary    Facebook, Inc. develops products that enable p...
city                                                          Menlo Park
phone                                                       650-543-4800
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                           http://investor.fb.com
maxAge                                                                 1
address1                                                1601 Willow Road
industry                                  Internet Content & Information
ebitdaMargins                                                    0.49698
profitMargins                                                    0.37176
grossMargins                                                     0.80977
operatingCashflow                                            49358000128
revenueGrowth                                                      0.556
operatingMargins                                                 0.42523
ebitda                                                       52079001600
dtype: object

### Get market data

In [5]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1945 entries, 2021-09-27 09:30:00-04:00 to 2021-10-01 15:59:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1945 non-null   float64
 1   High          1945 non-null   float64
 2   Low           1945 non-null   float64
 3   Close         1945 non-null   float64
 4   Volume        1945 non-null   int64
 5   Dividends     1945 non-null   int64
 6   Stock Splits  1945 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 121.6 KB

### View company actions

In [6]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [7]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [8]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Annual and Quarterly Financial Statement Summary

In [9]:
ticker.financials

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Research Development,18447000000.0,13600000000.0,10273000000.0,7754000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,33180000000.0,24812000000.0,25361000000.0,20594000000.0
Minority Interest,None,None,None,None
Net Income,29146000000.0,18485000000.0,22112000000.0,15934000000.0
Selling General Administrative,18155000000.0,15341000000.0,11297000000.0,7242000000.0
Gross Profit,69273000000.0,57927000000.0,46483000000.0,35199000000.0
Ebit,32671000000.0,28986000000.0,24913000000.0,20203000000.0
Operating Income,32671000000.0,28986000000.0,24913000000.0,20203000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,NaN,NaN,NaN,-6000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,4034000000.0,6327000000.0,3249000000.0,4660000000.0
Total Revenue,85965000000.0,70697000000.0,55838000000.0,40653000000.0
Total Operating Expenses,53294000000.0,41711000000.0,30925000000.0,20450000000.0
Cost Of Revenue,16692000000.0,12770000000.0,9355000000.0,5454000000.0
Total Other Income Expense Net,509000000.0,-4174000000.0,448000000.0,391000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,29146000000.0,18485000000.0,22112000000.0,15934000000.0
Net Income Applicable To Common Shares,29146000000.0,18485000000.0,22111000000.0,15920000000.0

In [10]:
ticker.quarterly_financials

,2021-06-30,2021-03-31,2020-12-31,2020-09-30
Research Development,6096000000.0,5197000000.0,5207000000.0,4763000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,12513000000.0,11503000000.0,13055000000.0,8133000000.0
Minority Interest,None,None,None,None
Net Income,10394000000.0,9497000000.0,11219000000.0,7846000000.0
Selling General Administrative,5215000000.0,4465000000.0,4880000000.0,4473000000.0
Gross Profit,23678000000.0,21040000000.0,22862000000.0,17276000000.0
Ebit,12367000000.0,11378000000.0,12775000000.0,8040000000.0
Operating Income,12367000000.0,11378000000.0,12775000000.0,8040000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,None,None,None,None
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2119000000.0,2006000000.0,1836000000.0,287000000.0
Total Revenue,29077000000.0,26171000000.0,28072000000.0,21470000000.0
Total Operating Expenses,16710000000.0,14793000000.0,15297000000.0,13430000000.0
Cost Of Revenue,5399000000.0,5131000000.0,5210000000.0,4194000000.0
Total Other Income Expense Net,146000000.0,125000000.0,280000000.0,93000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,10394000000.0,9497000000.0,11219000000.0,7846000000.0
Net Income Applicable To Common Shares,10394000000.0,9497000000.0,11219000000.0,7846000000.0

### Annual and Quarterly Balance Sheet

In [11]:
ticker.balance_sheet

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Intangible Assets,6.230000e+08,8.940000e+08,1.294000e+09,1.884000e+09
Capital Surplus,5.001800e+10,4.585100e+10,4.290600e+10,4.058400e+10
Total Liab,3.102600e+10,3.232200e+10,1.320700e+10,1.017700e+10
Total Stockholder Equity,1.282900e+11,1.010540e+11,8.412700e+10,7.434700e+10
Other Current Liab,9.964000e+09,1.118600e+10,4.494000e+09,2.590000e+09
Total Assets,1.593160e+11,1.333760e+11,9.733400e+10,8.452400e+10
Other Current Assets,2.410000e+08,8.000000e+06,1.000000e+07,1.800000e+07
Retained Earnings,7.734500e+10,5.569200e+10,4.198100e+10,3.399000e+10
Other Liab,5.945000e+09,7.745000e+09,6.190000e+09,6.417000e+09
Good Will,1.905000e+10,1.871500e+10,1.830100e+10,1.822100e+10
Treasury Stock,9.270000e+08,-4.890000e+08,-7.600000e+08,-2.270000e+08
Other Assets,2.758000e+09,2.673000e+09,2.576000e+09,2.135000e+09
Cash,1.757600e+10,1.907900e+10,1.001900e+10,8.079000e+09
Total Current Liabilities,1.498100e+10,1.505300e+10,7.017000e+09,3.760000e+09
Other Stockholder Equity,9.270000e+08,-4.890000e+08,-7.600000e+08,-2.270000e+08
Property Plant Equipment,5.498100e+10,4.478300e+10,2.468300e+10,1.372100e+10
Total Current Assets,7.567000e+10,6.622500e+10,5.048000e+10,4.856300e+10
Long Term Investments,6.234000e+09,8.600000e+07,NaN,NaN
Net Tangible Assets,1.086170e+11,8.144500e+10,6.453200e+10,5.424200e+10
Short Term Investments,4.437800e+10,3.577600e+10,3.109500e+10,3.363200e+10
Net Receivables,1.133500e+10,9.518000e+09,7.587000e+09,5.832000e+09
Accounts Payable,1.331000e+09,1.363000e+09,8.200000e+08,3.800000e+08
Common Stock,NaN,NaN,4.290600e+10,NaN

In [12]:
ticker.quarterly_balance_sheet

,2021-06-30,2021-03-31,2020-12-31,2020-09-30
Intangible Assets,5.140000e+08,5.050000e+08,6.230000e+08,7.440000e+08
Capital Surplus,5.284500e+10,5.116000e+10,5.001800e+10,4.891000e+10
Total Liab,3.238200e+10,2.986600e+10,3.102600e+10,2.870600e+10
Total Stockholder Equity,1.382270e+11,1.336570e+11,1.282900e+11,1.177310e+11
Other Current Liab,1.340000e+09,1.388000e+09,9.964000e+09,1.829000e+09
Total Assets,1.706090e+11,1.635230e+11,1.593160e+11,1.464370e+11
Other Current Assets,2.010000e+08,2.570000e+08,2.410000e+08,2.220000e+08
Retained Earnings,8.509700e+10,8.234300e+10,7.734500e+10,6.851300e+10
Other Liab,6.059000e+09,6.101000e+09,5.945000e+09,6.655000e+09
Good Will,1.921900e+10,1.905600e+10,1.905000e+10,1.903100e+10
Treasury Stock,2.850000e+08,1.540000e+08,9.270000e+08,3.080000e+08
Other Assets,2.352000e+09,2.376000e+09,2.758000e+09,2.969000e+09
Cash,1.618600e+10,1.951300e+10,1.757600e+10,1.161700e+10
Total Current Liabilities,1.487400e+10,1.271700e+10,1.498100e+10,1.194400e+10
Other Stockholder Equity,2.850000e+08,1.540000e+08,9.270000e+08,3.080000e+08
Property Plant Equipment,6.143400e+10,5.792200e+10,5.498100e+10,5.173000e+10
Total Current Assets,8.069700e+10,7.732200e+10,7.567000e+10,6.579900e+10
Long Term Investments,6.393000e+09,6.342000e+09,6.234000e+09,6.164000e+09
Net Tangible Assets,1.184940e+11,1.140960e+11,1.086170e+11,9.795600e+10
Short Term Investments,4.789400e+10,4.470600e+10,4.437800e+10,4.400300e+10
Net Receivables,1.169800e+10,1.027600e+10,1.133500e+10,8.024000e+09
Accounts Payable,9.730000e+08,8.780000e+08,1.331000e+09,1.106000e+09

### Annual and Quarterly Cashflow Statement

In [13]:
ticker.cashflow

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Investments,-1.452000e+10,-4.254000e+09,2.449000e+09,-1.325000e+10
Change To Liabilities,9.100000e+07,2.360000e+08,2.740000e+08,4.700000e+07
Total Cashflows From Investing Activities,-3.005900e+10,-1.986400e+10,-1.160300e+10,-2.011800e+10
Net Borrowings,-5.800000e+08,-7.750000e+08,5.000000e+08,5.000000e+08
Total Cash From Financing Activities,-1.029200e+10,-7.299000e+09,-1.557200e+10,-5.235000e+09
Change To Operating Activities,-1.302000e+09,8.975000e+09,9.100000e+07,3.449000e+09
Net Income,2.914600e+10,1.848500e+10,2.211200e+10,1.593400e+10
Change In Cash,-1.325000e+09,9.155000e+09,1.920000e+09,-9.050000e+08
Repurchase Of Stock,-9.836000e+09,-6.539000e+09,-1.608700e+10,-5.222000e+09
Effect Of Exchange Rate,2.790000e+08,4.000000e+06,-1.790000e+08,2.320000e+08
Total Cash From Operating Activities,3.874700e+10,3.631400e+10,2.927400e+10,2.421600e+10
Depreciation,6.862000e+09,5.741000e+09,4.315000e+09,3.025000e+09
Other Cashflows From Investing Activities,-3.600000e+07,-3.600000e+07,-3.600000e+07,-1.300000e+07
Change To Account Receivables,-1.512000e+09,-1.961000e+09,-1.892000e+09,-1.609000e+09
Other Cashflows From Financing Activities,1.240000e+08,1.500000e+07,1.500000e+07,-1.300000e+07
Change To Netincome,5.462000e+09,4.838000e+09,4.374000e+09,3.370000e+09
Capital Expenditures,-1.511500e+10,-1.510200e+10,-1.391500e+10,-6.733000e+09

In [14]:
ticker.quarterly_cashflow

,2021-06-30,2021-03-31,2020-12-31,2020-09-30
Investments,-3.264000e+09,-6.000000e+08,-5.290000e+08,-1.317700e+10
Change To Liabilities,1.190000e+08,-2.440000e+08,-5.900000e+07,2.510000e+08
Total Cashflows From Investing Activities,-8.195000e+09,-4.874000e+09,-5.173000e+09,-1.659900e+10
Net Borrowings,-7.000000e+07,-2.010000e+08,-1.580000e+08,-1.960000e+08
Total Cash From Financing Activities,-8.549000e+09,-5.185000e+09,-3.207000e+09,-2.911000e+09
Change To Operating Activities,-6.430000e+08,-2.014000e+09,2.606000e+09,1.880000e+08
Net Income,1.039400e+10,9.497000e+09,1.121900e+10,7.846000e+09
Change In Cash,-3.380000e+09,1.937000e+09,5.975000e+09,-9.590000e+09
Repurchase Of Stock,-8.434000e+09,-5.016000e+09,-3.049000e+09,-2.725000e+09
Effect Of Exchange Rate,1.170000e+08,-2.460000e+08,3.150000e+08,9.100000e+07
Total Cash From Operating Activities,1.324700e+10,1.224200e+10,1.404000e+10,9.829000e+09
Depreciation,1.986000e+09,1.972000e+09,1.863000e+09,1.698000e+09
Other Cashflows From Investing Activities,-6.000000e+07,-2.000000e+06,-2.700000e+07,2.790000e+08
Change To Account Receivables,-1.366000e+09,8.490000e+08,-3.059000e+09,-3.770000e+08
Other Cashflows From Financing Activities,-4.500000e+07,3.200000e+07,3.200000e+07,1.000000e+07
Change To Netincome,2.756000e+09,2.182000e+09,1.470000e+09,2.230000e+08
Capital Expenditures,-4.612000e+09,-4.272000e+09,-4.613000e+09,-3.689000e+09

In [15]:
ticker.earnings

          Revenue     Earnings
Year
2017  40653000000  15934000000
2018  55838000000  22112000000
2019  70697000000  18485000000
2020  85965000000  29146000000

In [16]:
ticker.quarterly_earnings

             Revenue     Earnings
Quarter
3Q2020   21470000000   7846000000
4Q2020   28072000000  11219000000
1Q2021   26171000000   9497000000
2Q2021   29077000000  10394000000

### Sustainability: Environmental, Social and Governance (ESG)

In [17]:
ticker.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          16.63
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               99
governanceScore                      10.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             28.03
highestControversy                       4
esgPerformance                    AVG_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           52.35
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.22
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [18]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 571 entries, 2012-06-22 07:56:00 to 2021-10-01 09:24:17
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        571 non-null    object
 1   To Grade    571 non-null    object
 2   From Grade  571 non-null    object
 3   Action      571 non-null    object
dtypes: object(4)
memory usage: 22.3+ KB

In [19]:
ticker.recommendations.tail(10)

                                  Firm    To Grade From Grade Action
Date
2021-07-29 12:19:31      Raymond James  Strong Buy              main
2021-07-29 12:50:14     Morgan Stanley  Overweight              main
2021-07-29 13:04:11        Oppenheimer  Outperform              main
2021-07-29 14:50:27  Canaccord Genuity         Buy              main
2021-08-23 14:53:08     Arete Research     Neutral        Buy   down
2021-09-01 11:25:49         Rosenblatt     Neutral        Buy   down
2021-09-09 13:33:15               HSBC      Reduce              main
2021-09-13 10:36:14      Goldman Sachs         Buy              init
2021-09-17 12:57:01          Jefferies         Buy              main
2021-10-01 09:24:17        RBC Capital  Outperform              init

### Upcoming Events

In [20]:
ticker.calendar

                                    0                    1
Earnings Date     2021-10-27 10:59:00  2021-11-01 12:00:00
Earnings Average                 3.17                 3.17
Earnings Low                      2.6                  2.6
Earnings High                    3.52                 3.52
Revenue Average           29531300000          29531300000
Revenue Low               27283000000          27283000000
Revenue High              30812000000          30812000000

### Option Expiration Dates

In [21]:
ticker.options

('2021-10-08',
 '2021-10-15',
 '2021-10-22',
 '2021-10-29',
 '2021-11-05',
 '2021-11-19',
 '2021-12-17',
 '2022-01-21',
 '2022-02-18',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2024-01-19',
 '2026-02-21')

In [22]:
expiration = ticker.options[0]

In [23]:
options = ticker.option_chain(expiration)

In [24]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     61 non-null     object
 1   lastTradeDate      61 non-null     datetime64[ns]
 2   strike             61 non-null     float64
 3   lastPrice          61 non-null     float64
 4   bid                61 non-null     float64
 5   ask                61 non-null     float64
 6   change             61 non-null     float64
 7   percentChange      61 non-null     float64
 8   volume             57 non-null     float64
 9   openInterest       61 non-null     int64
 10  impliedVolatility  61 non-null     float64
 11  inTheMoney         61 non-null     bool
 12  contractSize       61 non-null     object
 13  currency           61 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 6.4+ KB

In [25]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,FB211008C00200000,2021-09-23 17:10:08,200.0,146.05,141.45,143.60,0.0,0.0,NaN,1,1.944336,True,REGULAR,USD
1,FB211008C00215000,2021-09-30 16:27:40,215.0,124.90,126.45,128.60,0.0,0.0,2.0,3,1.712892,True,REGULAR,USD
2,FB211008C00225000,2021-09-20 19:46:16,225.0,130.00,116.50,118.60,0.0,0.0,NaN,1,1.565432,True,REGULAR,USD
3,FB211008C00235000,2021-09-20 19:53:16,235.0,120.80,106.50,108.60,0.0,0.0,NaN,1,1.424319,True,REGULAR,USD
4,FB211008C00250000,2021-09-24 19:20:37,250.0,103.00,91.50,93.65,0.0,0.0,1.0,3,1.238285,True,REGULAR,USD

In [40]:
options.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,FB211008C00200000,2021-09-23 17:10:08,200.0,146.05,141.45,143.60,0.0,0.0,NaN,1,1.944336,True,REGULAR,USD
1,FB211008C00215000,2021-09-30 16:27:40,215.0,124.90,126.45,128.60,0.0,0.0,2.0,3,1.712892,True,REGULAR,USD
2,FB211008C00225000,2021-09-20 19:46:16,225.0,130.00,116.50,118.60,0.0,0.0,NaN,1,1.565432,True,REGULAR,USD
3,FB211008C00235000,2021-09-20 19:53:16,235.0,120.80,106.50,108.60,0.0,0.0,NaN,1,1.424319,True,REGULAR,USD
4,FB211008C00250000,2021-09-24 19:20:37,250.0,103.00,91.50,93.65,0.0,0.0,1.0,3,1.238285,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,FB211008C00455000,2021-09-20 04:14:49,455.0,0.09,0.00,0.07,0.0,0.0,NaN,2,0.738284,False,REGULAR,USD
57,FB211008C00460000,2021-09-15 18:25:20,460.0,0.04,0.00,0.07,0.0,0.0,3.0,1,0.765627,False,REGULAR,USD
58,FB211008C00465000,2021-09-22 18:39:21,465.0,0.02,0.00,0.07,0.0,0.0,1.0,5,0.789065,False,REGULAR,USD
59,FB211008C00470000,2021-09-20 18:35:02,470.0,0.03,0.00,0.07,0.0,0.0,1.0,1,0.812502,False,REGULAR,USD
60,FB211008C00475000,2021-09-20 18:35:02,475.0,0.03,0.00,0.07,0.0,0.0,1.0,8,0.835939,False,REGULAR,USD

In [26]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     65 non-null     object
 1   lastTradeDate      65 non-null     datetime64[ns]
 2   strike             65 non-null     float64
 3   lastPrice          65 non-null     float64
 4   bid                65 non-null     float64
 5   ask                65 non-null     float64
 6   change             65 non-null     float64
 7   percentChange      65 non-null     float64
 8   volume             62 non-null     float64
 9   openInterest       63 non-null     float64
 10  impliedVolatility  65 non-null     float64
 11  inTheMoney         65 non-null     bool
 12  contractSize       65 non-null     object
 13  currency           65 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(9), object(3)
memory usage: 6.8+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [27]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [28]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msgt.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [29]:
tickers = yf.Tickers('msft aapl goog')

In [30]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [31]:
pd.Series(tickers.tickers.MSFT.info)

AttributeError: 'dict' object has no attribute 'MSFT'

In [32]:
tickers.tickers.AAPL.history(period="1mo")

AttributeError: 'dict' object has no attribute 'AAPL'

In [33]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends         High          Low  \
Date
2021-09-02 AAPL   153.649994          0   154.720001   152.399994
           GOOG  2884.379883          0  2926.500000  2882.129883
           MSFT   301.149994          0   303.359985   300.179993
2021-09-03 AAPL   154.300003          0   154.630005   153.089996
           GOOG  2895.500000          0  2907.540039  2870.100098
...                      ...        ...          ...          ...
2021-09-30 GOOG  2665.310059          0  2711.800049  2660.000000
           MSFT   281.920013          0   287.829987   281.619995
2021-10-01 AAPL   142.649994          0   142.919998   139.110107
           GOOG  2729.250000          0  2741.419922  2667.700195
           MSFT   289.100006          0   289.980011   281.309998

                        Open  Stock Splits    Volume
Date
2021-09-02 AAPL   153.869995             0  71115500
           GOOG  2918.989990             0   1092200
           MSFT   302.200012             0  16285600
2021-09-03 AAPL   153.759995             0  57808700
           GOOG  2882.919922             0    955200
...                      ...           ...       ...
2021-09-30 GOOG  2686.500000             0   1764700
           MSFT   285.709991             0  32325800
2021-10-01 AAPL   141.899994             0  94639581
           GOOG  2671.090088             0   1419365
           MSFT   282.121704             0  27421895

[63 rows x 7 columns]

In [34]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [36]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4781 entries, 2021-09-27 04:00:00-04:00 to 2021-10-01 19:59:00-04:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (SPY, Open)     4584 non-null   float64
 1   (SPY, High)     4584 non-null   float64
 2   (SPY, Low)      4584 non-null   float64
 3   (SPY, Close)    4584 non-null   float64
 4   (SPY, Volume)   4584 non-null   float64
 5   (AAPL, Open)    4603 non-null   float64
 6   (AAPL, High)    4603 non-null   float64
 7   (AAPL, Low)     4603 non-null   float64
 8   (AAPL, Close)   4603 non-null   float64
 9   (AAPL, Volume)  4603 non-null   float64
 10  (MSFT, Open)    4480 non-null   float64
 11  (MSFT, High)    4480 non-null   float64
 12  (MSFT, Low)     4480 non-null   float64
 13  (MSFT, Close)   4480 non-null   float64
 14  (MSFT, Volume)  4480 non-null   float64
dtypes: float64(15)
memory usage: 597.6 KB

In [38]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [39]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,280.665100,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,280.042175,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,279.869629,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,281.172943,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,281.613770,57197700

In [ ]:
# auto_adjust = False
data.tail()